<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<section>
<h1>Bienvenido a la Biblioteca</h1>
<p th:if="${param.enviada}">¡Gracias! Tu queja/sugerencia fue enviada.</p>


<article>
<h2>Novedad: Libro destacado</h2>
<p>Te recomendamos <strong>"Cien años de soledad"</strong> de Gabriel García Márquez. Encuéntralo en la sección Ficción.</p>
<div style="aspect-ratio:16/9; max-width: 720px;">
<iframe width="100%" height="100%" src="https://www.youtube.com/embed/VF9cF4P2um4" title="Lectura y libros" frameborder="0" allowfullscreen></iframe>
</div>
</article>


<ul>
<li><a th:href="@{/libros}">Ver/gestionar libros</a></li>
<li><a th:href="@{/categorias}">Ver/gestionar categorías</a></li>
<li><a th:href="@{/quejas/nueva}">Enviar una queja o sugerencia</a></li>
</ul>
</section>
